<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top mb-5">

    <a class="navbar-brand" href="#" style="color: white;">StudentEventApp</a>
    <button class="navbar-toggler" style="color: white;" type="button" data-toggle="collapse"
      data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="addEvent">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="StudentEvent/displayEvent">Display Event</a>
        <a class="nav-item nav-link" routerLink="StudentEvent/addStudent">Add Student</a>
        <a class="nav-item nav-link" routerLink="StudentEvent/displayStudent">Display Student</a>
  
      </div>
    </div>
  </nav>
<!-- 
step 1:ng g m studentevent --routing -->


<router-outlet></router-outlet>
