<div class="card mt-5 ml-5 mr-5 shadow p-3 bg-white rounded border border-light"style="padding: 20px; top: 35px;">
    <table class="table table-bordered table-hover" style="text-align: center;">
      <thead class="thead-dark ">
        <tr>
          <th>Event Id</th>
          <th>Event Name</th>
          <th>Update Event</th>
          <th>Delete Event</th>
        </tr>
      </thead>
      <tbody class="tbody mb-5">
        <tr *ngFor=" let e of allEventRecord">
          <!--This *ngFor is an for loop in Angular -->
          <td>{{e.eventId}}</td>
          <td>{{e.eventName}}</td>
          <td><button type="button" (click)="update(e)" class=" btn btn-info" data-toggle="modal"
              data-target="#exampleModal">Update Event</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteEvent(e)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>




  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>

            <div class="from-group mt-3">
                <label for="name">event Id :</label>
                <input type="number" id="eventId" #eventId [(ngModel)]="updateEvent.eventId"
                    name="userId" disabled class="form-control" placeholder="Enter event Id">
            </div>

            <div class="from-group mt-3">
                <label for="name">Event Name :</label>
                <input type="text" id="eventName" #eventName [(ngModel)]="updateEvent.eventName"
                    name="userName" class="form-control" placeholder="Enter event Name">
            </div>
        </form>
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEventRecord()">Update changes</button>
        </div>
      </div>
    </div>
  </div>